{% extends 'base.html.twig' %}

{% block title %}Infos pratiques
{% endblock %}

{% block body %}
	<section class="page-content">
		<div class="container page-note">
			<h1>Infos pratiques</h1>

			<ul>
				<li>
					<strong>
						Lieu :
					</strong>
					<a href="https://www.google.com/maps/place/5+Av.+du+Dr+Jean+Laigret,+41000+Blois/@47.5864382,1.3273941,18.5z/data=!4m6!3m5!1s0x47e4a81d7a59590d:0x720b37fa25555560!8m2!3d47.5866321!4d1.3276837!16s%2Fg%2F11cncl6ft3?authuser=0&entry=ttu&g_ep=EgoyMDI2MDIyNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" style="text-decoration: underline;">
						{{ info.lieu }}</a>
				</li>

				<li>
					<strong>Durée :</strong>
					{{ info.duree }}</li>
				<li>
					<strong>Tarif :</strong>
					{{ info.tarif }}
					€</li>
				<li>
					<strong>Rythme :</strong>
					{{ info.rythme }}</li>
				<li>
					<strong>Paiement :</strong>
					{{ info.modalitesPaiement }}</li>
			</ul>

		</div>
	</div>
{% endblock %}
